.calendarwrapper{
    position: absolute;
left: 1179.41px;
top: 510.96px;
}
.wrapper{
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    width: 323.48px;
    height: 245.92px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 15px 40px rgba(0,0,0,0.12);
  }
  .wrapper header{
    display: flex;
    align-items: center;
    padding: 10px 30px 0;
    justify-content: space-between;
    margin-bottom: -10px;
  }
  header .icons{
    display: flex;
  }
  header .icons span{
    height: 20px;
    width: 20px;
    margin: 0 1px;
    margin-top: -8px;
    cursor: pointer;
    color: #878787;
    text-align: center;
    line-height: 15px;
    font-size: 1.9rem;
    user-select: none;
    border-radius: 50%;
  }
  .icons span:last-child{
    margin-right: -10px;
  }
  header .icons span:hover{
    background: #f2f2f2;
  }
  header .current-date{
    font-size: 16px;
    font-weight: 700;
  }
  .calendar{
    padding: 5px;
  }
  .calendar ul{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    text-align: center;
    margin-left: -20px;
    margin-bottom: -5px;
  }
  .calendar .days{
    margin-left: -20px;
  }
  .calendar li{
    color: #333;
    width: calc(100% / 7);
    font-size: 10px;
  }
  .calendar .weeks li{
    font-weight: 500;
    cursor: default;
  }
  .calendar .days li{
    z-index: 1;
    cursor: pointer;
    position: relative;
    margin-top: 15px;
  }
  .days li.inactive{
    color: #aaa;
  }
  .days li.active{
    color: #fff;
  }
  .days li::before{
    position: absolute;
    content: "";
    left: 50%;
    top: 50%;
    height: 25px;
    width: 25px;
    z-index: -1;
    border-radius: 50%;
    transform: translate(-50%, -50%);
  }
  .days li.active::before{
    background: #ED2024;
  }
  .days li:not(.active):hover::before{
    background: #f2f2f2;
  }