* {
    font-family: 'Inter', sans-serif;
}

a {
    text-decoration: none;
}

a:hover {
    color: #575757;
    font-weight: 700;
}

.studapplogo {
    position: absolute;
    width: 27.02px;
    height: 27.02px;
    left: 45.5px;
    top: 54.03px;
}

.logotitle {
    position: absolute;
    width: 96.69px;
    height: 26.77px;
    left: 76.07px;
    top: 55.45px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 20.1564px;
    line-height: 24px;
    text-align: center;

    color: #000000;

}

.dashboardnav {
    position: absolute;
    width: 92.42px;
    height: 22.75px;
    left: 85px;
    top: 142.9px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14.2188px;
    line-height: 17px;

    color: #575757;


}

.todonav {
    position: absolute;
    width: 111.62px;
    height: 22.75px;
    left: 84.6px;
    top: 226.08px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14.2188px;
    line-height: 17px;

    color: #575757;

}

.habitnav {
    position: absolute;
    width: 111.62px;
    height: 22.75px;
    left: 84.6px;
    top: 309.26px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14.2188px;
    line-height: 17px;

    color: #575757;
}

.financenav {
    position: absolute;
    width: 131.52px;
    height: 22.75px;
    left: 84.6px;
    top: 392.44px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 14.2188px;
    line-height: 17px;

    color: #0079BD;

}

.gratitudenav {
    position: absolute;
    width: 143.61px;
    height: 22.75px;
    left: 84.6px;
    top: 475.62px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14.2188px;
    line-height: 17px;

    color: #575757;
}

.settingsnav {
    position: absolute;
    width: 154.98px;
    height: 22.75px;
    left: 84.59px;
    top: 559px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14.2188px;
    line-height: 17px;

    color: #575757;
}


.leftcolumn {
    position: fixed;
    width: 334.85px;
    height: 767.81px;
    left: 0px;
    top: 0px;

    background: #FFFFFF;
    box-shadow: 0px 2.84375px 21.3281px rgba(0, 0, 0, 0.05);
}

.logout {
    position: absolute;
    width: 154.98px;
    height: 22.75px;
    left: 85.46px;
    top: 642px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14.2188px;
    line-height: 17px;

    color: #575757;
}

.dashboard {
    position: absolute;
    left: 63.50px;
    right: 260.91;
    top: 145.03px;
    bottom: 609.98px;
}

.todolist {
    position: absolute;
    left: 61.14px;
    right: 95.19%;
    top: 29.51%;
    bottom: 68.62%;
}

.habit {
    position: absolute;
    left: 61.14px;
    right: 95.19%;
    top: 40.35%;
    bottom: 57.79%;
}

.finance {
    position: absolute;
    width: 13.51px;
    height: 12.8px;
    left: 60.79px;
    top: 394.57px;
}

.gratitude {
    position: absolute;
    left: 61.14px;
    right: 95.19%;
    top: 62.11%;
    bottom: 36.13%;

}

.settings {
    position: absolute;
    left: 61.14px;
    right: 95.19%;
    top: 72.96%;
    bottom: 25.27%;
}

.logouticon {
    position: absolute;
    left: 61.14px;
    right: 95.13%;
    top: 83.69%;
    bottom: 14.36%;
}

.usergreet {
    position: absolute;
    width: 524px;
    height: 49px;
    left: 381px;
    top: 89px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 36.56px;
    line-height: 44px;

    color: #000000;

}

.usertime {
    position: absolute;
    width: 179.54px;
    height: 28.31px;
    left: 381px;
    top: 148.24px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 21.1212px;
    line-height: 26px;

    color: #575757;

}

.newtaskbutton {
    box-sizing: border-box;

    position: absolute;
    width: 182.27px;
    height: 38.28px;
    left: 907px;
    top: 124.54px;

    background: rgba(0, 148, 255, 0.13);
    border: 1px solid #9AD0E8;
    border-radius: 6.63781px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 14.5817px;
    line-height: 18px;
    /* identical to box height */

    text-align: center;

    color: #0079BD;
}

.rightcolumn {
    position: fixed;
    width: 373.3px;
    height: 767.81px;
    left: 1146px;
    top: 0px;

    background: #F5F5F5;
}

.profilecircle {
    position: absolute;
    width: 88.85px;
    height: 88.85px;
    left: 1179.89px;
    top: 38.38px;
    border-radius: 50%;
}

.profilename {

    position: absolute;
    width: 208px;
    height: 28px;
    left: 1295px;
    top: 60px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 23.6282px;
    line-height: 29px;

    color: #000000;
}

.profileusername {

    position: absolute;
    width: 208px;
    height: 19px;
    left: 1295px;
    top: 92px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 13.1178px;
    line-height: 16px;

    color: #575757;
}

.completedtask {
    position: absolute;
    height: 29px;
    width: 324px;
    left: 1181px;
    top: 425px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 20.2637px;
    line-height: 25px;

    color: #000000;
}

.middlecolumn {
    position: absolute;
    width: 705px;
    height: 554px;
    left: 355px;
    top: 214px;
}

.habitsquare {
    width: 706px;
    height: 220px;
    background: #FFFFFF;
    box-shadow: 0px 4px 29px rgba(0, 0, 0, 0.15);
    border-radius: 27px;
    margin-bottom: 45px;
}

.habitsquare2 {
    position: absolute;
    width: 706px;
    height: 50px;

    box-shadow: 0px 4px 29px rgba(0, 0, 0, 0.15);
    border-radius: 27px 27px 0px 0px;
}

.ulhabits li:nth-child(3n+1) .habitsquare2 {
    background: linear-gradient(89.98deg, #FF5656 0.4%, #FF9900 99.98%);
}

.ulhabits li:nth-child(3n+2) .habitsquare2 {
    background: linear-gradient(90deg, #34AAFF 0%, #F2A2FF 98.61%);
}

.ulhabits li:nth-child(3n+3) .habitsquare2 {
    background: linear-gradient(90deg, #47D744 0%, #1EBBFF 100%);
}

.titledescmerge {
    display: flex;
}

.emojidaysmerge {
    display: flex;
}

li {
    list-style-type: none;
}

.habittitle {
    width: 261px;
    padding-top: 11.5px;
    padding-left: 28px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 24.9852px;
    line-height: 30px;

    color: #FFFFFF;

}

.habitdesc {
    text-align: right;
    width: 425px;
    height: 17px;
    padding-top: 16px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 15.7801px;
    line-height: 19px;

    color: #FFFFFF;

}

.habitemoji {
    padding-top: 10px;
    padding-left: 20px;
    width: 97.31px;
    font-size: 100px;
}

.checkbox-container {
    display: flex;
    align-items: center;
}

.round {
    position: relative;
    margin-right: 60px;
}

.round label {
    display: flex;
    background-color: #E8E8E8;
    border: 1px solid #E8E8E8;
    border-radius: 50%;
    cursor: pointer;
    height: 48px;
    left: 0;
    position: absolute;
    top: 0;
    width: 48px;
}

.round label:after {
    border: 4px solid #fff;
    border-top: none;
    border-right: none;
    content: "";
    height: 12px;
    left: 12px;
    opacity: 0;
    position: absolute;
    top: 15px;
    transform: rotate(-45deg);
    width: 24px;
}

.round input[type="checkbox"] {
    visibility: hidden;
}

.round input[type="checkbox"]:checked+label {
    background-color: #0D96E4;
    border-color: #0D96E4;
}

.round input[type="checkbox"]:checked+label:after {
    opacity: 1;
}

.round input[type="checkbox"]+label:before {
    content: attr(data-letter);
    display: inline-block;
    color: #6A6A6A;
    font-size: 21px;
    font-weight: bold;
    padding: 0 auto;
    margin: 0 auto;
    padding-top: 7px;
    text-align: right;
}

.round input[type="checkbox"]:checked+label:before {
    content: "";
}

form {
    padding-top: 65px;
    padding-left: 100px;
    display: flex;
}

.rightcolumn2 {
    position: absolute;
    width: 328px;
    height: 379px;
    left: 1150px;
    top: 470px;
    padding: 0[];

}

.squarehabitprogress {
    display: flex;
    width: 325px;
    height: 92px;
    margin-bottom: 22px;
    box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.25);
    border-radius: 11px;
}

.ulprogress li:nth-child(3n+1) .squarehabitprogress {
    background: linear-gradient(89.98deg, #FF5656 0.4%, #FF9900 99.98%);
}

.ulprogress li:nth-child(3n+2) .squarehabitprogress {
    background: linear-gradient(90deg, #34AAFF 0%, #F2A2FF 98.61%);
}

.ulprogress li:nth-child(3n+3) .squarehabitprogress {
    background: linear-gradient(90deg, #47D744 0%, #1EBBFF 100%);
}

.ulprogress {
    padding: 0;
}

.circle {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 15px;
    display: flex;
    width: 70.84px;
    height: 69px;
    background: #FFFFFF;
    border-radius: 34.5px;
    justify-content: center;
}

.circle p {
    margin: auto;
}

.emojisize {
    font-size: 35px;
}

.progresstext {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 20px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 46.8919px;
    line-height: 63px;

    color: #FFFFFF;
}

.emptyhabit{
    padding-left: 25px;
}

.square1finance{
    position: absolute;
width: 714px;
height: 353px;
left: 389px;
top: 48px;

background: linear-gradient(95.01deg, #31A8E5 1.18%, #B76FFB 49.36%, #F0A479 96.54%);
box-shadow: 0px 4px 23px rgba(0, 0, 0, 0.25);
border-radius: 33px;
}

.square2finance{
    position: absolute;
    width: 714px;
    height: 229px;
    left: 389px;
    top: 428px;

background: linear-gradient(275.44deg, #31A8E5 1.39%, #B76FFB 50.96%, #F0A479 99.5%);
box-shadow: 0px 4px 23px rgba(0, 0, 0, 0.25);
border-radius: 33px;
}

.square3finance{
    position: absolute;
width: 298px;
height: 182px;
left: 779px;
top: 453px;

background: rgba(217, 217, 217, 0.3);
border-radius: 23.5px;
}

.totalbalance{
    position: absolute;
    width: 253px;
    height: 44px;
    left: 619px;
    top: 76px;

font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 33.9978px;
line-height: 41px;
text-align: center;

color: #FFFFFF;
}

.userbalance{
    position: absolute;
    width: 698px;
    height: 88px;
    left: 397px;
    top: 129px;

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 74.7951px;
line-height: 91px;
text-align: center;

color: #FFFFFF;
}

.incometitle{
    position: absolute;
    width: 118.74px;
    height: 35.8px;
    left: 525px;
    top: 275px;

font-family: 'Inter';
font-style: normal;
font-weight: 300;
font-size: 29.6833px;
line-height: 36px;
/* identical to box height */


color: #FFFFFF;
}

.income{
    position: absolute;
    width: 239.23px;
    height: 35.8px;
    left: 525px;
    top: 316.91px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 29.6833px;
    line-height: 36px;
    /* identical to box height */
    
    
    color: #FFFFFF;
}

.expensetitle{
    position: absolute;
    width: 152.79px;
    height: 35.8px;
    left: 863.77px;
    top: 275px;

font-family: 'Inter';
font-style: normal;
font-weight: 300;
font-size: 29.6833px;
line-height: 36px;
/* identical to box height */


color: #FFFFFF;
}

.expense{
    position: absolute;
    width: 239.23px;
    height: 35.8px;
    left: 863.77px;
    top: 316.91px;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 29.6833px;
    line-height: 36px;
    /* identical to box height */
    
    
    color: #FFFFFF;
}

.circleincome{
    position: absolute;
width: 66px;
height: 66px;
left: 429px;
top: 280px;


background: rgba(217, 217, 217, 0.3);
border-radius: 50%;
}

.circleexpense{
position: absolute;
width: 66px;
height: 66px;
left: 764px;
top: 280px;

background: rgba(217, 217, 217, 0.3);
border-radius: 50%;
}

.incomeicon{
    position: absolute;
    height: 26.583332061767578px;
width: 19.33333396911621px;
left: 452.33349609375px;
top: 299.71px;

}

.expenseicon{
    position: absolute;
    height: 26.583332061767578px;
width: 19.33333396911621px;
left: 787.33349609375px;
top: 299.71px;
}

.newtransaction{
    position: absolute;
    width: 371px;
    height: 47px;
    left: 397px;
    top: 453px;

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 35.3333px;
line-height: 43px;
text-align: center;

color: #FFFFFF;
}

.financedesc{
    position: absolute;
width: 283px;
height: 47px;
left: 441px;
top: 511px;

background: rgba(217, 217, 217, 0.3);
border-radius: 10px;
outline: none;
border: none;
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 17.4867px;
color: rgba(255, 255, 255, 0.6);
padding: 10px;
text-align: center;
}

.financemoney{
    position: absolute;
width: 283px;
height: 47px;
left: 441px;
top: 583px;

background: rgba(217, 217, 217, 0.3);
border-radius: 10px;
outline: none;
border: none;
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 17.4867px;
color: rgba(255, 255, 255, 0.6);
padding: 10px;
text-align: center;
}

input::placeholder {
    color: rgba(255, 255, 255, 0.6);
    text-align: center;
}

input:focus::placeholder {
    color: transparent;
}


.circleadd1{
    position: absolute;
    width: 69.7px;
    height: 69.7px;
    left: 821.25px;
    top: 500px;

background: rgba(217, 217, 217, 0.3);
box-shadow: 0px 2px 16px rgba(0, 0, 0, 0.05);
border-radius: 50%;
}

.circleadd2{
    position: absolute;
    width: 69.7px;
    height: 69.7px;
    left: 965.68px;
    top: 500px;

background: rgba(217, 217, 217, 0.3);
box-shadow: 0px 2px 16px rgba(0, 0, 0, 0.05);
border-radius: 50%;
}

.incomeadd{
    position: absolute;
    width: 99.13px;
    height: 27.47px;
    left: 806px;
    top: 576.25px;

font-family: 'Inter';
font-style: normal;
font-weight: 300;
font-size: 18.9618px;
line-height: 23px;
text-align: center;

color: #FFFFFF;
}

.expenseadd{
    position: absolute;
    width: 99.13px;
    height: 27.47px;
    left: 950.88px;
    top: 576.25px;

font-family: 'Inter';
font-style: normal;
font-weight: 300;
font-size: 18.9618px;
line-height: 23px;
text-align: center;

color: #FFFFFF;

}

.incomeicon2{
    position: absolute;
    width: 99.7px;
    height: 99.7px;
    left: 804.25px;
    top: 484px;
}

.expenseicon2{
    position: absolute;
    width: 99.7px;
    height: 99.7px;
left: 949.68px;
top: 484px;
}

.financesubmit{
    position: absolute;
width: 263px;
height: 57px;
left: 632px;
top: 676px;

background: linear-gradient(275.44deg, #FF718A 1.39%, #FFA16C 99.5%);
box-shadow: 0px 4px 23px rgba(0, 0, 0, 0.25);
border-radius: 33px;

font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 32.2216px;
line-height: 39px;
/* identical to box height */

text-align: center;

color: #FFFFFF;
border: none;

}

.plus {
    display: flex;
    justify-content: space-between;
    width: 321px;
    height: 68px;
    background: linear-gradient(99.87deg, #00BD62 2.23%, #3EBEF5 96.86%);
    box-shadow: 0px 0px 26px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 16.9474px;
    line-height: 21px;
    color: #FFFFFF;
    align-items: center;
    text-align: center;
    margin-bottom: 21px;
    padding-left: 15px;
    padding-right: 15px;
  }
  

.minus{
    display: flex;
    justify-content: space-between;
    width: 321px;
height: 68px;
background: linear-gradient(99.38deg, #F44D50 1.08%, #FF9C41 109.87%);
box-shadow: 0px 0px 20.9101px rgba(0, 0, 0, 0.1);
border-radius: 12.0635px;
font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 16.9474px;
line-height: 21px;
align-items: center;
    text-align: center;
color: #FFFFFF;
margin-bottom: 21px;
padding-left: 15px;
    padding-right: 15px;
}

.expensesname {
    flex-grow: 1;
    padding-left: 10px;
  }
  
  .expenseamount {
    flex-grow: 1;
    text-align: right;
  }
