* {
    font-family: 'Inter', sans-serif;
}

.studapplogo {
    position: absolute;
    width: 30.9px;
    height: 30.9px;
    left: 34px;
    top: 44px;
}

.toptitle {
    position: absolute;
    width: 136px;
    height: 37.65px;
    left: 74px;
    top: 42px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 28.3518px;
    line-height: 34px;
    text-align: center;

    color: #000000;
}

.leftcolumn {
    position: absolute;
    width: 670.86px;
    height: 425.29px;
    left: 53.46px;
    top: 237.44px;

    background: #FFFFFF;
    box-shadow: 0px 4.31811px 64.7716px rgba(0, 0, 0, 0.15);
    border-radius: 21.5905px;
}

.logintitle {
    position: absolute;
    width: 388.69px;
    height: 60.17px;
    left: 140.47px;
    top: 282.98px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 47.0707px;
    line-height: 57px;

    color: #000000;

}

.logintitledesc {
    position: absolute;
    width: 242.34px;
    height: 15.8px;
    left: 142.91px;
    top: 351.29px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 11.289px;
    line-height: 14px;

    color: #575757;
}

.emailform {
    position: absolute;
    width: 169.14px;
    height: 15.45px;
    left: 140.47px;
    top: 385px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16.2633px;
    line-height: 20px;

    color: #575757;

}

.username {
    box-sizing: border-box;

    position: absolute;
    width: 338.97px;
    height: 34.54px;
    left: 140.46px;
    top: 416.34px;

    background: rgba(0, 0, 0, 0.05);
    border: 0.813165px solid #E7E7E7;
    border-radius: 5.39764px;

    position: absolute;

    font-style: normal;
    font-weight: 300;
    font-size: 13.0106px;
    line-height: 16px;
    padding: 10px;


}

.passform {
    position: absolute;
    width: 79.69px;
    height: 15.45px;
    left: 140.47px;
    top: 465px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16.2633px;
    line-height: 20px;

    color: #575757;

}

.password {
    box-sizing: border-box;

    position: absolute;
    width: 338.97px;
    height: 34.54px;
    left: 140.46px;
    top: 495.22px;

    background: rgba(0, 0, 0, 0.05);
    border: 0.813165px solid #E7E7E7;
    border-radius: 5.39764px;

    font-style: normal;
    font-weight: 300;
    font-size: 13.0106px;
    line-height: 16px;
    padding: 10px;

}

.loginbutton {
    box-sizing: border-box;

    position: absolute;
    width: 338.97px;
    height: 34.54px;
    left: 140.46px;
    top: 565.15px;

    background: rgba(0, 249, 85, 0.13);
    border: 0.813165px solid #89D9BC;
    border-radius: 5.39764px;
    color: #00BD62;
}

.redirectone {
    position: absolute;
    width: 120.35px;
    height: 15.45px;
    left: 221.79px;
    top: 620.45px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 9.75799px;
    line-height: 12px;
    text-align: center;

    color: #A7A7A7;
}

.redirecttwo {
    position: absolute;
    width: 65.87px;
    height: 15.45px;
    left: 318.55px;
    top: 620.45px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 9.75799px;
    line-height: 12px;
    text-align: center;

    color: #0079BD;
    text-decoration: none;
}

.rightcolumn {
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    width: 50%;
    ;

    background: linear-gradient(180deg, #E9A6C2 0%, #FFECD7 100%);
}

.registerimg {
    position: fixed;
    width: 677.51px;
    height: 441.11px;
    left: 858.49px;
    top: 326.89px;
}

.slogan {
    position: fixed;
    width: 682.35px;
    height: 155.31px;
    left: 815px;
    top: 107.34px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 62.1153px;
    line-height: 75px;
    text-align: right;

    color: #FFFFFF;

    text-shadow: 0px 3.25266px 22.7686px rgba(0, 0, 0, 0.05);
}
