* {
    font-family: 'Inter', sans-serif;
}

a {
    text-decoration: none;
}

a:hover {
    color: #575757;
    font-weight: 700;
}

.studapplogo {
    position: absolute;
    width: 27.02px;
    height: 27.02px;
    left: 45.5px;
    top: 54.03px;
}

.logotitle {
    position: absolute;
    width: 96.69px;
    height: 26.77px;
    left: 76.07px;
    top: 55.45px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 20.1564px;
    line-height: 24px;
    text-align: center;

    color: #000000;

}

.dashboardnav {
    position: absolute;
    width: 92.42px;
    height: 22.75px;
    left: 85px;
    top: 142.9px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14.2188px;
    line-height: 17px;

    color: #575757;


}

.todonav {
    position: absolute;
    width: 111.62px;
    height: 22.75px;
    left: 84.6px;
    top: 226.08px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 14.2188px;
    line-height: 17px;

    color: #0079BD;

}

.habitnav {
    position: absolute;
    width: 111.62px;
    height: 22.75px;
    left: 84.6px;
    top: 309.26px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14.2188px;
    line-height: 17px;

    color: #575757;
}

.financenav {
    position: absolute;
    width: 131.52px;
    height: 22.75px;
    left: 84.6px;
    top: 392.44px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14.2188px;
    line-height: 17px;

    color: #575757;

}

.gratitudenav {
    position: absolute;
    width: 143.61px;
    height: 22.75px;
    left: 84.6px;
    top: 475.62px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14.2188px;
    line-height: 17px;

    color: #575757;
}

.settingsnav {
    position: absolute;
    width: 154.98px;
    height: 22.75px;
    left: 84.59px;
    top: 559px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14.2188px;
    line-height: 17px;

    color: #575757;
}


.leftcolumn {
    position: absolute;
    width: 334.85px;
    height: 767.81px;
    left: 0px;
    top: 0px;

    background: #FFFFFF;
    box-shadow: 0px 2.84375px 21.3281px rgba(0, 0, 0, 0.05);
}

.logout {
    position: absolute;
    width: 154.98px;
    height: 22.75px;
    left: 85.46px;
    top: 642px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14.2188px;
    line-height: 17px;

    color: #575757;
}

.dashboard {
    position: absolute;
    left: 63.50px;
    right: 260.91;
    top: 145.03px;
    bottom: 609.98px;
}

.todolist {
    position: absolute;
    left: 61.14px;
    right: 95.19%;
    top: 29.51%;
    bottom: 68.62%;
}

.habit {
    position: absolute;
    left: 61.14px;
    right: 95.19%;
    top: 40.35%;
    bottom: 57.79%;
}

.finance {
    position: absolute;
    width: 13.51px;
    height: 12.8px;
    left: 60.79px;
    top: 394.57px;
}

.gratitude {
    position: absolute;
    left: 61.14px;
    right: 95.19%;
    top: 62.11%;
    bottom: 36.13%;

}

.settings {
    position: absolute;
    left: 61.14px;
    right: 95.19%;
    top: 72.96%;
    bottom: 25.27%;
}

.logouticon {
    position: absolute;
    left: 61.14px;
    right: 95.13%;
    top: 83.69%;
    bottom: 14.36%;
}

.usergreet {


    position: absolute;
    width: 524px;
    height: 49px;
    left: 381px;
    top: 89px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 36.56px;
    line-height: 44px;

    color: #000000;

}

.usertime {
    position: absolute;
    width: 179.54px;
    height: 28.31px;
    left: 381px;
    top: 148.24px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 21.1212px;
    line-height: 26px;

    color: #575757;

}

.newtaskbutton {
    position: absolute;
    width: 182.27px;
    height: 38.28px;
    left: 907px;
    top: 124.54px;

    background: rgba(0, 148, 255, 0.13);
    border: 0.8px solid #9AD0E8;
    border-radius: 5.31025px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 14.5817px;
    line-height: 18px;

    text-align: center;
    color: #0079BD;
}

.rightcolumn {
    position: absolute;
    width: 370.3px;
    height: 767.81px;
    left: 1146px;
    top: 0px;

    background: #F5F5F5;
}

.profilecircle {
    position: absolute;
    width: 88.85px;
    height: 88.85px;
    left: 1179.89px;
    top: 38.38px;
    border-radius: 50%;
}

.profilename {

    position: absolute;
    width: 208px;
    height: 28px;
    left: 1295px;
    top: 60px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 23.6282px;
    line-height: 29px;

    color: #000000;
}

.profileusername {

    position: absolute;
    width: 208px;
    height: 19px;
    left: 1295px;
    top: 92px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 13.1178px;
    line-height: 16px;

    color: #575757;
}

.completedtask {
    position: absolute;
left: 77.76%;
right: 2.15%;
top: 57.16%;
bottom: 39.06%;

font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 20.2637px;
line-height: 25px;

color: #000000;
}