{% extends 'base.html' %}
{% block title %}Habit Tracker{% endblock title %}
{% block content %}
{% load static %}
<link rel="stylesheet"
  href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
<link rel="stylesheet" href="{% static '/habitcreate.css' %}">
<link rel="stylesheet" href="{% static '/calendarhabit.css' %}">
<script src="{% static '/scriptcalendar.js' %}" defer></script>
<script src="https://code.jquery.com/jquery-3.6.4.js" integrity="sha256-a9jBBRygX1Bh5lt8GZjXDzyOB+bWve9EiO7tROUtj/E=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/emojionearea/3.4.2/emojionearea.min.js"></script>



<div class="leftcolumn">
  <img src="{% static '/logo/studapplogo.svg' %}" alt="logo" class="studapplogo">
  <img src="{% static '/logo/dashboard.svg' %}" alt="logo" class="dashboard">
  <img src="{% static '/logo/todolist.svg' %}" alt="logo" class="todolist">
  <img src="{% static '/logo/habitbold.svg' %}" alt="logo" class="habit">
  <img src="{% static '/logo/finance.png' %}" alt="logo" class="finance">
  <img src="{% static '/logo/gratitude.svg' %}" alt="logo" class="gratitude">
  <img src="{% static '/logo/settings.svg' %}" alt="logo" class="settings">
  <img src="{% static '/logo/logout.svg' %}" alt="logo" class="logouticon">

  <span class="logotitle">StudApp</span>

  <a href="{% url 'index' %}" class="dashboardnav">Dashboard</a>
  <a href="{% url 'tasks' %}" class="todonav">To-Do List</a>
  <a href="{% url 'habit' %}" class="habitnav">Habit Tracker</a>
  <a href="{% url 'financetracker' %}" class="financenav">Finance Tracker</a>
  <a href="{% url 'gratitude' %}" class="gratitudenav">Gratitude Tracker</a>
  <a href="{% url 'settings' %}" class="settingsnav">Settings</a>
  <a href="{% url 'logout' %}" class="logout">Log out</a>
</div>

<div class="middlecolumn"></div>
    <div class="squaretitle"></div>
    <div class="squaretitle2"></div>
    <h1 class="squaretitletext">Adding a new habit</h1>

    <div class="squarehabit"></div>
    <img src="{% static '/img/habitsquare.svg' %}" alt="logo" class="squarehabit2">
    <h1 class="squarehabittext">Your daily habit tracker</h1>
    <h2 class="squarehabittext2">Every small step is a progress!</h2>


<div class="rightcolumn"></div>
<a href="{% url 'settings' %}"><img class="profilecircle" src="{{ user.profile.image.url }}"></a>
<span class="profilename">{{ user.first_name }}</span>
<span class="profileusername">@{{user}}</span>

<div class="calendarwrapper">
  <div class="wrapper">
    <header>
      <p class="current-date"></p>
      <div class="icons">
        <span id="prev" class="material-symbols-rounded">chevron_left</span>
        <span id="next" class="material-symbols-rounded">chevron_right</span>
      </div>
    </header>
    <div class="calendar">
      <ul class="weeks">
        <li>Sun</li>
        <li>Mon</li>
        <li>Tue</li>
        <li>Wed</li>
        <li>Thu</li>
        <li>Fri</li>
        <li>Sat</li>
      </ul>
      <ul class="days"></ul>
    </div>
  </div>
</div>

<img src="{% static '/img/rocket.png' %}" alt="logo" class="rocket">
<div class="submitsquare1"></div>

<form method="POST">
    {% csrf_token %}
    <h2 class="habitnametitle">Name</h2>
    <input class="habitnametext" type="text" id="title" name="title"><br>
    <h2 class="habitdesctitle">Description</h2>
    <input class="habitdesctext" id="description" name="description"></input>
    <h2 class="habiticontitle">Icon</h2>
    <textarea class="habiticontext" type="text" id="emojiarea" name="emoji"></textarea>
    <button class="submitsquare2" type="submit"> Create </button>
</form>
<script>

    $('#emojiarea').emojioneArea({
        pickerPosition:"top"
    });
  </script>






{% endblock content %}
