{% extends 'base.html' %}
{% block title %}Dashboard{% endblock title %}
{% block content %}
{% load static %}
<link
rel="stylesheet"
href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
/>
<link rel="stylesheet" href="{% static '/index.css' %}">
<link rel="stylesheet" href="{% static '/calendar.css' %}">
<script src="{% static '/scriptcalendar.js' %}" defer></script>


<div class="leftcolumn">
    <img src="{% static '/logo/studapplogo.svg' %}" alt="logo" class="studapplogo">
    <img src="{% static '/logo/dashboardbold.svg' %}" alt="logo" class="dashboardbold">
    <img src="{% static '/logo/todolist.svg' %}" alt="logo" class="todolist">
    <img src="{% static '/logo/habit.svg' %}" alt="logo" class="habit">
    <img src="{% static '/logo/finance.png' %}" alt="logo" class="finance">
    <img src="{% static '/logo/gratitude.svg' %}" alt="logo" class="gratitude">
    <img src="{% static '/logo/settings.svg' %}" alt="logo" class="settings">
    <img src="{% static '/logo/logout.svg' %}" alt="logo" class="logouticon">

    <span class="logotitle">StudApp</span>

      <a href="" class="dashboardnav">Dashboard</a>
      <div class="todotest"></div>
      <a href="{% url 'tasks' %}" class="todonav">To-Do List</a>
      <a href="{% url 'habit' %}" class="habitnav">Habit Tracker</a>
      <a href="" class="financenav">Finance Tracker</a>
      <a href="" class="gratitudenav">Gratitude Tracker</a>
      <a href="{% url 'settings' %}" class="settingsnav">Settings</a>
      <a href="{% url 'logout' %}" class="logout">Log out</a>
</div>

<div class="middlecolumn">
    <h1 class="usergreet">Hello there, {{ user.first_name }}!</h1>
    <h2 id="date" class="usertime"></h2>
        <div class="middlecolumncontent1"></div>
        <span class="financetitle">Finance Tracker</span>
        <img src="{% static '/logo/redirect.svg' %}" alt="logo" class="redirect1">
        <div class="financesquare1"></div>
        <div class="financesquare2"></div>
        <span class="financebalance">Current Balance</span>
        <span class="financebalancecash">$26.517,00</span>
        <span class="financeexpense">Total Expense</span>
        <span class="financeexpensecash">-$127,00</span>
        <div class="financesquare3"></div>
        <div class="financesquare3text">Daily</div>
        
        <div class="middlecolumncontent2"></div>
            <span class="habittitle">Habit Tracker</span>
            <img src="{% static '/logo/redirect.svg' %}" alt="logo" class="redirect2">
            <img src="{% static '/logo/bicycle.svg' %}" alt="logo" class="bicyclelogo">
            <span class="habittext">Bicycle</span>
            <span class="habittext2">Everyday at 06.30</span>
        
        <div class="middlecolumncontent3"></div>
            <span class="todotitle">To-Do List</span>
            <img src="{% static '/logo/redirect.svg' %}" alt="logo" class="redirect3">
            <div class="middlecolumncontent31"></div>
            <span class="todotitle2">Studying</span>

        <div class="middlecolumncontent4"></div>
            <div class="middlecolumncontent41"></div>
            <span class="quotestext">"The only way to do great work is to love what you do."</span>
</div>

<div class="rightcolumn"></div>
    <span class="profiletitle">Profile</span>
    <a href="{% url 'settings' %}"><img class="profilecircle" src="{{ user.profile.image.url }}"></a>
    <span class="profilename">{{ user.first_name }}</span>
    <span class="profileusername">@{{user}}</span>
    <div class="profilegratitude"></div>
    <img src="{% static '/logo/gratprofile.svg' %}" alt="logo" class="gratprofile">
    <span class="profilegratitudetext1">What are you grateful for today?</span>
    <span class="profilegratitudetext2">Let me know your thoughts!</span>
    <form action="" method="post">
        {% csrf_token %}
        <input type="text" name="gratitudetext" placeholder="Write something here..." class="gratitudetext">
        <button type = "submit" class="gratsubmit">
            <img src="{% static '/logo/gratsubmit.svg' %}" />
         </button>
    </form>

<div class="calendarwrapper">
    <div class="wrapper">
        <header>
          <p class="current-date"></p>
          <div class="icons">
            <span id="prev" class="material-symbols-rounded">chevron_left</span>
            <span id="next" class="material-symbols-rounded">chevron_right</span>
          </div>
        </header>
        <div class="calendar">
          <ul class="weeks">
            <li>Sun</li>
            <li>Mon</li>
            <li>Tue</li>
            <li>Wed</li>
            <li>Thu</li>
            <li>Fri</li>
            <li>Sat</li>
          </ul>
          <ul class="days"></ul>
        </div>
      </div>
</div>

<script>
  let today = new Date();
  const dateelement = document.getElementById("date");
  const options = { month: 'long', day: 'numeric', weekday: 'long' };
  dateelement.innerHTML = today.toLocaleDateString("en-US", options);
</script>
   

  
{% endblock content %}