{% extends 'base.html' %}
{% block title %}Dashboard{% endblock title %}
{% block content %}
{% load static %}

<form method="post">
  {% csrf_token %}
  <label for="title">Title:</label><br>
  <input type="text" id="title" name="title"><br>
  <label for="description">Category:</label><br>
  <textarea id="description" name="description"></textarea><br>
  <label for="deadline">Deadline:</label><br>
  <input type="date" id="deadline" name="deadline"><br>
  <input type="submit" value="Submit">
</form>


  

{% endblock content %}