{% extends 'base.html' %}
{% block title %}To-Do List{% endblock title %}
{% block content %}
{% load static %}
<link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
<link rel="stylesheet" href="{% static '/todo.css' %}">
<link rel="stylesheet" href="{% static '/calendartodo.css' %}">
<script src="{% static '/scriptcalendar.js' %}" defer></script>


<div class="leftcolumn">
    <img src="{% static '/logo/studapplogo.svg' %}" alt="logo" class="studapplogo">
    <img src="{% static '/logo/dashboard.svg' %}" alt="logo" class="dashboard">
    <img src="{% static '/logo/todolistbold.svg' %}" alt="logo" class="todolist">
    <img src="{% static '/logo/habit.svg' %}" alt="logo" class="habit">
    <img src="{% static '/logo/finance.png' %}" alt="logo" class="finance">
    <img src="{% static '/logo/gratitude.svg' %}" alt="logo" class="gratitude">
    <img src="{% static '/logo/settings.svg' %}" alt="logo" class="settings">
    <img src="{% static '/logo/logout.svg' %}" alt="logo" class="logouticon">

    <span class="logotitle">StudApp</span>

    <a href="{% url 'index' %}" class="dashboardnav">Dashboard</a>
    <a href="{% url 'tasks' %}" class="todonav">To-Do List</a>
    <a href="{% url 'habit' %}" class="habitnav">Habit Tracker</a>
    <a href="{% url 'financetracker' %}" class="financenav">Finance Tracker</a>
    <a href="{% url 'gratitude' %}" class="gratitudenav">Gratitude Tracker</a>
    <a href="{% url 'settings' %}" class="settingsnav">Settings</a>
    <a href="{% url 'logout' %}" class="logout">Log out</a>
</div>

<h1 class="usergreet">{{ user.first_name }}'s To-Do List</h1>
<h2 id="date" class="usertime"></h2>
<a href="{% url 'task_create' %}"><button class="newtaskbutton">Create new task</button></a>

<div class="middlecolumn">
    <table>
        {% for task in tasks %}
        {% if not task.complete %}
        <tr>
            <td class="tasktitlewidth">
                <a class="tasktitle" href="{% url 'task' task.id %}">{{ task.title }}</a>
            </td>
            <td>
                <form action="{% url 'task_complete' task.id %}" method="POST">
                    {% csrf_token %}
                    <button type="submit" class="incompletesubmit">
                        <img src="{% static '/logo/tick.svg' %}" />
                    </button>
                </form>
            </td>
        </tr>
        <tr>
            <td class="taskdesc">
                {{ task.description }} - <span style="color: #0D96E4;">{{ task.deadline|date:"l, M d" }}</span>
            </td>
        </tr>
        {% endif %}
        {% empty %}
        <tr>
            <td colspan="3">
                <h7>No items in list</h7>
            </td>
        </tr>
        {% endfor %}
    </table>

</div>

<div class="rightcolumn"></div>
<div class="rightcolumnprogress">
    <table>
        {% for task in tasks %}
        {% if task.complete %}
        <tr>
            <td>
                <a class="tasktitle2" href="{% url 'task' task.id %}">{{ task.title }}</a>
            </td>
            <td>
                <form action="{% url 'task_complete' task.id %}?uncomplete=true" method="POST">
                    {% csrf_token %}
                    <button type="submit" class="completesubmit">
                        <img src="{% static '/logo/remove.svg' %}" />
                    </button>
                </form>
            </td>
        </tr>
        <tr>
            <td class="taskdesc2">
                {{ task.description }} - <span style="color: #0D96E4;">{{ task.deadline|date:"l, M d" }}</span>
            </td>
        </tr>
        {% endif %}
        {% empty %}
        <tr>
            <td colspan="3">
                <h7>No items in list</h7>
            </td>
        </tr>
        {% endfor %}
    </table>

</div>
<a href="{% url 'settings' %}"><img class="profilecircle" src="{{ user.profile.image.url }}"></a>
<span class="profilename">{{ user.first_name }}</span>
<span class="profileusername">@{{user}}</span>
<h2 class="completedtask">Completed task</h2>

<div class="calendarwrapper">
    <div class="wrapper">
        <header>
            <p class="current-date"></p>
            <div class="icons">
                <span id="prev" class="material-symbols-rounded">chevron_left</span>
                <span id="next" class="material-symbols-rounded">chevron_right</span>
            </div>
        </header>
        <div class="calendar">
            <ul class="weeks">
                <li>Sun</li>
                <li>Mon</li>
                <li>Tue</li>
                <li>Wed</li>
                <li>Thu</li>
                <li>Fri</li>
                <li>Sat</li>
            </ul>
            <ul class="days"></ul>
        </div>
    </div>
</div>

<script>
    let today = new Date();
    const dateelement = document.getElementById("date");
    const options = { month: 'long', year: 'numeric' };
    dateelement.innerHTML = today.toLocaleDateString("en-US", options);
</script>


{% endblock content %}