{% extends 'base.html' %}
{% block title %}To-Do List{% endblock title %}
{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static '/todo.css' %}">


<div class="leftcolumn">
    <img src="{% static '/logo/studapplogo.svg' %}" alt="logo" class="studapplogo">
    <img src="{% static '/logo/dashboard.svg' %}" alt="logo" class="dashboard">
    <img src="{% static '/logo/todolistbold.svg' %}" alt="logo" class="todolist">
    <img src="{% static '/logo/habit.svg' %}" alt="logo" class="habit">
    <img src="{% static '/logo/finance.png' %}" alt="logo" class="finance">
    <img src="{% static '/logo/gratitude.svg' %}" alt="logo" class="gratitude">
    <img src="{% static '/logo/settings.svg' %}" alt="logo" class="settings">
    <img src="{% static '/logo/logout.svg' %}" alt="logo" class="logouticon">

    <span class="logotitle">StudApp</span>

      <a href="{% url 'index' %}" class="dashboardnav">Dashboard</a>
      <a href="" class="todonav">To-Do List</a>
      <a href="{% url 'habit' %}" class="habitnav">Habit Tracker</a>
      <a href="" class="financenav">Finance Tracker</a>
      <a href="" class="gratitudenav">Gratitude Tracker</a>
      <a href="" class="settingsnav">Settings</a>
      <a href="{% url 'logout' %}" class="logout">Log out</a>
</div>

<div class="middlecolumn">
    <h1 class="usergreet">{{ user.first_name }}'s To-Do List</h1>
    <h2 class="usertime">April 2023</h2>
    <button href="" class="newtaskbutton">Create new task</button>
</div>

<div class="rightcolumn"></div>
    <img class="profilecircle" src="{{ user.profile.image.url }}">
    <span class="profilename">{{ user.first_name }}</span>
    <span class="profileusername">@{{user}}</span>
    <h2 class="completedtask">Completed Task</h2>

{% endblock content %}